.app {
  text-align: center;
  margin: 20px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.menu-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
}
